<div class="d-flex">
    
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Fin Sidebar -->


    <div class="container">
        <div class="row p-3">

            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar gifs...">
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sequi porro culpa ut fugiat quibusdam consequatur eius cum perferendis quod alias, eaque fugit saepe eum magnam illum quis nobis? Architecto.
            </div>
        </div>
        
    </div>
</div>